<h1>Editing Carriage</h1>

<%= render 'form', railway_carriage: @railway_carriage %>

<%= link_to 'Edit', edit_railway_carriage_path(@railway_carriage) %>  |
<%= link_to 'Back', railway_carriages_path %>
