<p id="notice"><%= notice %></p>

<p>
  <strong>Carriage Name</strong>
  <%= @railway_carriage.number%>
</p>



<%= link_to 'Edit', edit_railway_carriage_path(@railway_carriage) %> |
<%= link_to 'Back', railway_carriages_path %>
