<h1>Find Ticket</h1>

<div>
  <%= form_tag search_path do %>
    <div>
      <p>First Station</p>
      <%= select_tag :first_station_id, options_from_collection_for_select(@railway_stations, :id, :title) %>
    </div>
    <div>
      <p>Last Station</p>
      <%= select_tag :last_station_id, options_from_collection_for_select(@railway_stations, :id, :title) %>
    </div>
    <div>
      <p><%= submit_tag "Search" %></p>
    </div>
  <% end %>
</div>